@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900&display=swap&subset=latin-ext');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  background: var(--color-bg);
}

#wrapper {
  width: 100%;
  position: relative;
  padding: 15px;
  z-index: 1;
  display: grid;
  grid-gap: 20px;
}

/* CONTAINER VARIANTS */
.pulled {
  position: relative;
  display: flex;
  width: var(--grid-item-width);
  height: var(--grid-item-width);
  border-radius: 10px;
  @include outer-shadow;
}
.pushed {
  position: relative;
  display: flex;
  width: var(--grid-item-width);
  height: var(--grid-item-width);
  border-radius: 10px;
  @include inset-shadow;
}
.frame {
  position: relative;
  display: flex;
  z-index: 1;
  background: var(--color-bg);
  width: var(--grid-item-width);
  height: var(--grid-item-width);
  border-radius: 5px;
  border: 20px solid var(--color-bg);
  @include frame-shadow;
}
