@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700&display=swap');

:root {
  --color-bg: #{$color-bg};
  --color-primary: #{$color-primary};
}

* {
  box-sizing: border-box;
}
html {
  font-size: 13px;
}
body {
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  color: whitesmoke;
  margin: 0;
  background: var(--color-bg);
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.1;
  padding-bottom: 55px;
  @include text-shadow(0);
  &:before {
    @extend %pseudo-cover;
    @include pattern-scotch;
    z-index: -1;
    filter: blur(2px);
  }
}

section {
  position: relative;
  width: 100%;
  min-height: 95vh;
  padding: 2.2em 1.1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.solid {
  background: var(--color-bg);
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
  text-align: center;
  margin: 0.33em 0;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-weight: 300;
  font-size: 2.5rem;
}
h4 {
  font-weight: 300;
  font-size: 2rem;
}
.row {
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
}
.center {
  justify-content: center;
  align-items: center;
}

button {
  background: var(--color-bg);
  @include pulled-shadow;
  border: none;
  padding: 1em;
  font-size: 1.1rem;
  cursor: pointer;
  color: white;
  font-family: inherit;
  margin: 1em 0.5em;
  text-transform: uppercase;
}
.container {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  width: 5px;
  background: rgba(white, 0.15);
  border-radius: $border-radius;
}
::-webkit-scrollbar-track {
  background: transparent;
}

// This creates the classes for each elevation dp with numbers from 1 to 24
@for $elevation from 1 through 24 {
  .elevation-#{$elevation} {
    @include elevation($elevation);
  }
}

@include screen(s) {
  html {
    font-size: 14px;
  }
}
@include screen(m) {
  html {
    font-size: 15px;
  }
}
@include screen(l) {
  html {
    font-size: 16px;
  }
}
