:root {
  --color-bg: #{$color-bg};
  --color-primary: #{$color-primary};
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: $scrollbar-width;
  height: $scrollbar-width;
}
::-webkit-scrollbar-thumb {
  width: $scrollbar-width;
  background: $color-scrollbar;
  border-radius: $border-radius;
}
::-webkit-scrollbar-track {
  background: transparent;
}

html {
  font-size: 14px;
  scrollbar-color: $color-scrollbar transparent;
  scrollbar-width: thin;
}

body {
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  color: whitesmoke;
  margin: 0;
  background: var(--color-bg);
  position: relative;
  line-height: 1.1;
  @include text-shadow(1);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 55px;
  overflow-x: hidden;
}
section {
  position: relative;
  width: 100%;
  min-height: 95vh;
  padding: 2.2em 1.1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: clip;
  &:not(:first-of-type) {
    border-top: 1px solid lighten($color: $color-bg, $amount: 7);
  }
}
img {
  display: block;
  max-width: 100%;
}
.solid {
  background: var(--color-bg);
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
  text-align: center;
  margin: 0.33em 0;
}
h1 {
  font-size: var(--font-size, 3.5rem);
}
h2 {
  font-size: var(--font-size, 3rem);
}
h3 {
  font-weight: 200;
  font-size: var(--font-size, 2.5rem);
}
h4 {
  font-weight: 200;
  font-size: var(--font-size, 2rem);
}
p {
  margin-block-start: 1em;
  margin-block-end: 0.5em;
}
.row {
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
}
.center {
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: center;
  &-column {
    flex-direction: column;
  }
}

.space-v {
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
}

button {
  background: var(--color-bg);
  @include pulled-shadow;
  border: none;
  border-radius: $border-radius;
  padding: 1em;
  font-size: 0.95rem;
  cursor: pointer;
  color: white;
  font-family: inherit;
  margin: 1em 0.5em;
  text-transform: uppercase;
  transform-origin: center;
  transition: transform 125ms $bezier-out-cubic;
  &:focus {
    transform: scale(1.05);
    color: var(--color-primary);
    outline: none;
  }
}

// This creates the classes for each elevation dp with numbers from 1 to 24
@for $elevation from 1 through 24 {
  .elevation-#{$elevation} {
    @include elevation($elevation);
  }
}

.section-title {
  width: 100%;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: transform 250ms $bezier-out-cubic;
  transition-delay: 75ms;
  transform: scale(1);
  transform-origin: top center;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0em;
    right: 0em;
    @include elevation(10);
    opacity: 0;
    transition: opacity 150ms $bezier-out-cubic;
    transition-delay: 0ms;
    background: var(--color-bg);
    border-radius: 0 0 $border-radius $border-radius;
    z-index: -1;
  }
  &.sticks {
    transition-delay: 0ms;
    transform: scale(0.5);
    &:before {
      opacity: 1;
      transition-delay: 75ms;
      transition-duration: 300ms;
    }
  }
}

@include screen(s) {
  html {
    font-size: 15px;
  }
}
@include screen(m) {
  html {
    font-size: 16px;
  }
}
@include screen(l) {
  html {
    font-size: 18px;
  }
}

// background patterns
.pattern-scotch {
  @include pattern-scotch;
}
.pattern-scotch-blurred {
  &:before {
    @extend %pseudo-cover;
    @include pattern-scotch;
    z-index: -1;
    filter: blur(2px);
  }
}
.pattern-upholstery {
  @include pattern-upholstery;
}
.pattern-scallop {
  @include pattern-scallop;
}
.pattern-flat-panels {
  @include pattern-flat-panels;
}
.pattern-stars {
  @include pattern-stars;
}

a {
  color: $color-primary;
  transition: color 250ms ease;
  cursor: pointer;
  &:hover {
    color: lighten($color-primary, 20);
  }
}
