.skills {
  --size: 130px;
  display: grid;
  width: 100%;
  max-width: 1000px;
  grid-template-columns: repeat(var(--col), 1fr);
  grid-auto-rows: var(--size);
  grid-template-areas:
    'js js'
    'js js'
    'ts css'
    'ts scss'
    'njs vue'
    'rct vue'
    'rct gha'
    'wbp wbp'
    'prcl gpt'
    'ima gam'
    'vast aws';
  grid-gap: 1em;
  grid-auto-flow: dense;
  justify-content: center;
}
.skill {
  position: relative;
  font-weight: 700;
  font-size: calc(var(--size) / 3);
  @include elevation(12);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  line-height: 1.1;
  border-radius: $border-radius;
  &:after {
    letter-spacing: -1px;
    font-size: 100%;
    @include text-shadow(1);
    text-align: center;
  }
  &-mini {
    --size: 50px;
    width: var(--size);
    height: var(--size);
    margin: 0.25rem;
    padding: 0;
    @include elevation(2);
    justify-content: center;
    align-items: center;
    &:after {
      letter-spacing: 0;
    }
  }

  &-js {
    background: linear-gradient($light-angle, hsl(60, 86%, 55%), hsl(60, 93%, 30%));
    grid-area: js;
    &:after {
      content: 'JS';
    }
  }
  &-ts {
    grid-area: ts;
    background: linear-gradient($light-angle, hsl(215, 60%, 44%), hsl(215, 60%, 22%));
    &:after {
      content: 'TS';
    }
  }
  &-css {
    grid-area: css;
    background: linear-gradient($light-angle, hsl(192, 86%, 47%), hsl(192, 86%, 27%));
    &:after {
      content: 'CSS';
    }
  }
  &-scss {
    grid-area: scss;
    background: linear-gradient($light-angle, hsl(330, 86%, 47%), hsl(330, 86%, 27%));
    &:after {
      font-size: 80%;
      content: 'SCSS';
    }
  }
  &-webpack {
    grid-area: wbp;
    background: linear-gradient($light-angle, hsl(206, 68%, 43%), hsl(206, 68%, 20%));
    &:after {
      font-size: 50%;
      content: 'webpack';
    }
  }
  &-parcel {
    grid-area: prcl;
    background: linear-gradient($light-angle, hsl(206, 68%, 43%), hsl(206, 68%, 27%));
    &:after {
      font-size: 55%;
      content: 'parcel';
    }
  }
  &-nodejs {
    grid-area: njs;
    background: linear-gradient($light-angle, hsl(112, 34%, 55%), hsl(112, 34%, 33%));
    &:after {
      font-size: 60%;
      content: 'node.js';
    }
  }
  &-react {
    grid-area: rct;
    background: linear-gradient($light-angle, hsl(193, 95%, 68%), hsl(193, 50%, 35%));
    &:after {
      font-size: 65%;
      content: 'react';
    }
  }
  &-vue {
    grid-area: vue;
    $vue-bg: #35495d;
    $vue-slate: #35495d;
    $vue-green: #41b883;
    background: lighting-gradient($light-angle, 'neutral', 5),
      linear-gradient(
        135deg,
        $vue-slate,
        $vue-slate 33%,
        $vue-green 33%,
        $vue-green 66%,
        $vue-slate 66%
      );
    &:after {
      content: 'vue';
    }
  }
  &-gpt {
    grid-area: gpt;
    background: lighting-gradient($light-angle, 'neutral', 5),
      linear-gradient(
        135deg,
        hsl(217, 88%, 60%),
        hsl(217, 88%, 60%) 45%,
        hsl(136, 53%, 43%) 45%,
        hsl(136, 53%, 43%) 50%,
        hsl(136, 53%, 43%) 55%,
        hsl(45, 98%, 50%) 55%,
        hsl(45, 98%, 50%)
      );
    &:after {
      font-size: 65%;
      content: 'Google GPT';
    }
  }
  &-gam {
    grid-area: gam;
    background: lighting-gradient($light-angle, 'neutral', 5),
      linear-gradient(
        135deg,
        hsl(217, 88%, 60%),
        hsl(217, 88%, 60%) 45%,
        hsl(136, 53%, 43%) 45%,
        hsl(136, 53%, 43%) 50%,
        hsl(136, 53%, 43%) 55%,
        hsl(45, 98%, 50%) 55%,
        hsl(45, 98%, 50%)
      );
    &:after {
      font-size: 55%;
      content: 'Google Ad Manager';
    }
  }
  &-ima {
    grid-area: ima;
    background: lighting-gradient($light-angle, 'neutral', 5),
      linear-gradient(
        135deg,
        hsl(217, 88%, 60%),
        hsl(217, 88%, 60%) 45%,
        hsl(136, 53%, 43%) 45%,
        hsl(136, 53%, 43%) 50%,
        hsl(136, 53%, 43%) 55%,
        hsl(45, 98%, 50%) 55%,
        hsl(45, 98%, 50%)
      );
    &:after {
      font-size: 65%;
      content: 'Google IMA SDK';
    }
  }
  &-vast {
    grid-area: vast;
    background: linear-gradient($light-angle, hsl(4, 86%, 40%), hsl(4, 80%, 20%));
    &:after {
      font-size: 55%;
      content: 'VAST & VPAID';
    }
  }
  &-aws {
    grid-area: aws;
    background: linear-gradient($light-angle, hsl(35, 94%, 58%), hsl(35, 80%, 33%));
    &:after {
      font-size: 90%;
      content: 'AWS';
    }
  }
  &-gha {
    grid-area: gha;
    background: linear-gradient($light-angle, #db469f, #2188ff);
    &::after {
      content: 'GHA';
    }
  }
}

@include screen(s) {
  .skills {
    --col: 3;
    grid-template-areas:
      'js js ts'
      'js js ts'
      'scss css css'
      'vue prcl njs'
      'vue wbp wbp'
      'gha gha rct'
      'aws vast rct'
      'ima gpt gam';
  }
}

@include screen(m) {
  .skills {
    --size: 160px;
    --col: 4;
    grid-template-areas:
      'js js css scss'
      'js js css vue'
      'rct ts ts vue'
      'rct wbp wbp gha'
      'prcl njs gpt gam'
      'aws njs vast ima';
  }
}

@include screen(l) {
  .skills {
    --size: 190px;
  }
}
