.slider {
  position: relative;
  max-width: 800px;
  width: 100%;
  height: 550px;
  max-height: 80vh;
  display: flex;
  align-content: stretch;
  overflow-y: visible;
  z-index: 1;
  background: inherit;
  .slides {
    position: relative;
    display: block;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding: 2em 0.33em 1.8em 0.33em;
    z-index: 1;
    transform: translateZ(0);
  }

  .slider-shadows {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    pointer-events: none;
    overflow: hidden;
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 10px;
      top: 40px;
      bottom: 40px;
    }
    &:before {
      left: -15px;
      box-shadow: 5px 0px 25px 20px var(--color-bg);
    }
    &:after {
      right: -15px;
      box-shadow: -5px 0px 25px 20px var(--color-bg);
    }
  }

  .slide {
    z-index: 1;
    &:first-child {
      margin-left: 4%;
    }
    &:last-child {
      margin-right: 4%;
    }
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: middle;
    width: 90%;
    height: 100%;
    scroll-snap-stop: always;
    scroll-snap-align: center;
    white-space: normal;
    margin: 0 2%;
    padding: 0.5em 1em;
    border-radius: $border-radius;
    @include elevation(8);

    &-content-container {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      flex-grow: 1;
      min-height: 0; // fixes overflow of child
    }
    &-content {
      padding: 5px;
      overflow: auto;
    }
  }
  .slider-control {
    --size: 33px;
    z-index: 3;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background: var(--color-bg);
    cursor: pointer;

    @include elevation(10);
    opacity: 1;
    transition: opacity 300ms $bezier-out-cubic;
    &:after {
      content: '';
      width: 8px;
      height: 8px;
      border-left: 1px solid white;
      border-bottom: 1px solid white;
    }
    &.prev {
      left: calc(var(--size) / 3 * -1);
      &:after {
        transform: translateX(25%) rotate(45deg);
      }
    }
    &.next {
      right: calc(var(--size) / 3 * -1);
      &:after {
        transform: translateX(-25%) rotate(-135deg);
      }
    }
    &.hidden {
      pointer-events: none;
      opacity: 0;
    }
  }

  &-fullscreen {
    height: 90vh;
    max-height: 90vh;
  }
}