/* CONTAINER VARIANTS */
:root {
  --box-size-default: 300px;
}
.box {
  position: relative;
  display: flex;
  border-radius: $border-radius;
  width: 100%;
  max-width: var(--box-size, var(--box-size-default));
  min-height: var(--box-size, var(--box-size-default));
  margin: 1.1rem;
}
.round {
  border-radius: 50%;
}

.pulled {
  @include pulled-shadow;
}

.pushed {
  @include pushed-shadow;
}

.convex {
  background: lighting-gradient();
}

.concave {
  background: lighting-gradient(#{$light-angle - 180deg});
}

.text-pulled {
  @include text-pulled;
}
.text-pushed {
  @include text-pushed;
}
.pushed2pulled {
  &:before,
  &:after {
    @extend %pseudo-cover;
    transition: opacity 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  &:before {
    opacity: 0;
    @include pulled-shadow;
  }
  &:after {
    opacity: 1;
    @include pushed-shadow;
  }
  &.active,
  &:hover {
    &:before {
      opacity: 1;
    }
    &:after {
      opacity: 0;
    }
  }
}
.pulled2pushed {
  &:before,
  &:after {
    @extend %pseudo-cover;
    transition: opacity 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  &:before {
    opacity: 1;
    @include pulled-shadow;
  }
  &:after {
    opacity: 0;
    @include pushed-shadow;
  }
  &.active,
  &:hover {
    &:before {
      opacity: 1;
    }
    &:after {
      opacity: 1;
    }
  }
}
.pulled2pushed.round,
.pushed2pulled.round {
  &:before,
  &:after {
    border-radius: 50%;
  }
}

.frame {
  z-index: 1;
  border: 20px solid var(--color-bg);
  @include frame-shadow;
}

/* END CONTAINER VARIANTS */
